.fullscreen-image {
  height: 100vh;

  margin: 0 !important;
  padding: 0;

  background-image: url("./grape.jpg");
  background-size: cover;
}

.text-section {
  margin: 0 !important;

  background-color: #A6B376;
}
