@font-face {
  font-family: 'BasalteFond';
  src: url(./Basalte-Fond.ttf) format('truetype'), url(./Basalte-Fond.otf) format('opentype');
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, button, input, optgroup, select, textarea {
  font-family: BasalteFond;
  font-weight: 100;
}

.title {
  font-weight: 300;
}

.image {
  margin-bottom: 20px;
}
